<header class="bar-title" ng-switch on="isDone">
    <a class="button-prev" ng-click="back()"> Back </a>
    <h1 class="title">{{title}}</h1>
    <a class="button" ng-switch-when="true" href="#new"> + </a>
    <a class="button" ng-switch-default ng-click="done()"> Done </a>


</header>
<body>
<!--<section class='content'>-->
	<form>
	  <input type="text" ng-change='needSave()' ng-model="title" placeholder="Title" ></input>
	  <textarea rows="5" ng-change='needSave()' ng-model="text" placeholder="Note ..." >
	  </textarea> 
		
	

 </form>
		
     

     <table id="table_id" border="1"  >
		   
			  <tr>
			    <th>Item</th>
			    <th>Amount</th>
			  </tr>
			   <tr>
			    <td><input type="text"/></td>
			    <td><input type="number" id="text22"  ng-keypress='handle(event)'/></td>
			  </tr>
			<tr>
			    <td>Sum</td>
			    <td><input type="text" name="lname" value="0"  id ="ln" disabled /> </td>
			  </tr> 

		</table>

       
		
	<script src="scripts/addcal.js"></script>
   
 
</body>

