<html>
<head>
</head>
<body>
 <div ng-app="myapp">
      <div ng-controller="myctrl">
      	<input type="number" ng-model="test1" >
      	<input type="number" ng-model="test2" >
      	<button ng-click="doadd()" >+</button>
      	<button ng-click="dosub()" >-</button>
      	<button ng-click="domul()" >*</button>
      	<button ng-click="dodiv()" >/</button>
      	<button ng-click="dofact()" >x!</button>
      	Answear :{{answer}}
      </div> 
 </div>


 <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
 <script src="calservice.js"></script>
</body>
</html>