<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body >
  <div ng-app="myapp" ng-controller="myctrl">
    <div class = 'container col-md-4'>
      </br><pre>{{result}}</pre></br>
      <button class="btn btn-default btn-lg" name="b1" value="1" ng-click='click("1")'>1 </button>
      <button class="btn btn-default btn-lg" name="b2" value="2" ng-click='click("2")'>2 </button>
      <button class="btn btn-default btn-lg" name="b3" value="3" ng-click='click("3")'>3</button>
      <button class="btn btn-default btn-lg" name="b4" value="4" ng-click='click("4")'>4 </button></br></br>
      <button class="btn btn-default btn-lg" name="b5" value="5" ng-click='click("5")'>5 </button>
      <button class="btn btn-default btn-lg" name="b6" value="6" ng-click='click("6")'>6 </button>
      <button class="btn btn-default btn-lg" name="b7" value="7" ng-click='click("7")'>7 </button>
      <button class="btn btn-default btn-lg" name="b8" value="8" ng-click='click("8")'>8 </button></br></br>
      <button class="btn btn-default btn-lg" name="b9" value="9" ng-click='click("9")'>9 </button>
      <button class="btn btn-default btn-lg" name="b0" value="0" ng-click='click("0")'>0 </button>
      <button class="btn btn-default btn-lg" name="b+" value="+" ng-click='click("+")'>+ </button>
      <button class="btn btn-default btn-lg" name="b-" value="-" ng-click='click("-")'>- </button></br></br>
      <button class="btn btn-default btn-lg" name="b*" value="*" ng-click='click("*")'>*</button>
      <button class="btn btn-default btn-lg" name="b/" value="/" ng-click='click("/")'>/ </button>
      <button class="btn btn-default btn-lg" name="bc" value="c" ng-click='clear()'>c </button>
      <button class="btn btn-default btn-lg" name="b=" value="=" ng-click='calculate()'>= </button>
    </div>
  </div>

 <script src="calculator.js"></script>
</body>
</html>
