extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
						div.signup-wall
							ul.user-details
								img(class='profile-img', src='https://graph.facebook.com/#{user.oauthID}/picture')
								li First Name ---> #{user.firstName} 
								li Last Name ---> #{user.lastName}
								li Email ---> #{user.email}

						a(href='/signout', class='text-center new-account') Sign Out