extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Sign in to our Passport app
					div.account-wall
					a(href="/auth/facebook") 
						img(src='img/login-fb.png')
					#message
					if message
						h1.text-center.error-message #{message}