<!-- simple-todos.html -->
<head>
  <title>Todo List</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Todo List
        <form class="new-task">
          <input type="text" name="text" placeholder="Type to add new tasks" />
        </form>
      </h1>
    </header>

    <ul>
      {{#each tasks}}
      {{> task}}
      {{/each}}
    </ul>
  </div>
</body>

<template name="task">
  <li>{{text}}</li>
</template>
