
<html>
<head>
<title>Attendance</title>
<style type="text/css">
.ng-invalid.ng-dirty {
  border-color:#FA787E;
}
.ng-valid.ng-dirty {
  border-color:#78FA89;
}
</style>
</head>
<body ng-app="myapp">
<div ng-controller="Fctrl as fc">
    <form name="AttendanceForm"  ng-submit="Fctrl.click1()" >
      Name : <input name="Name" ng-model="fc.data.name" type="text" required/></br> &nbsp;&nbsp;&nbsp;&nbsp;{{fc.data.name}} </br>
      Email :<input name="Email" ng-model="fc.data.email" type="email" required/>&nbsp;&nbsp;&nbsp;&nbsp;</br>{{fc.data.email}}
     </br>
      Phone :<input name="phone" ng-model="fc.data.phone" type="number" required/>{{m}}</br>&nbsp;&nbsp;&nbsp;&nbsp;</br>{{fc.data.phone}}</br></br>
      Days :<select ng-model="fc.data.days"required>
     	<option value="1">1</option>
     	<option value="2">2</option>
     	<option value="3">3</option>
     	<option value="4">4</option>
     	<option value="5">5</option>
     	<option value="6">6</option>
     	<option value="7">7</option>
     </select> </br>&nbsp;&nbsp;&nbsp;&nbsp;{{fc.data.days}}</br>
      Machine :<input checklist-model="fc.data.machine" type="checkbox" />{{fc.data.machine}}</br></br>
    	<div> {{AttendanceForm.$valid}}</div>
    	<div>    
    		</div>
    	<input type="submit" value="Sumbit"/>
</form>
</div>

<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="task1.js"></script>
</body>
</html>